<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Labeling - Trail Camera Image Analyzer</title>
        <style>
            body { font-family: "Impact",
            Helvetica, sans-serif;
            padding: 20px;
            text-align: center;
            background-color: cadetblue; }
        </style>
    </head>
    <body>
        <h1>Labeling Trail Camera Images</h1>
        <p style="font-size: 20px; margin-top: 30px;">TRAIL CAMERA IMAGE: </p>
        <h2  th:text="${currIndex + 1}"></h2>

        <img th:src="@{${imageName}}" alt="Image" style="max-width: 1000px;">

    
    </body>
</html>